footer {
  margin-top: 300px;
}

.txt-f3 {
  font-size: 4.5vw;
}
@media only screen and (min-width: 768px) {
  .txt-f3 {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }
}

.txt-f4 {
  font-size: 6vw;
}
@media only screen and (min-width: 768px) {
  .txt-f4 {
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.1em;
  }
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .flex-pc {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .wrap {
    border-left: 1px solid red;
    border-right: 1px solid red;
  }
}

header {
  background: url(../img/about/key_img.jpg) no-repeat top center/100% auto;
}
@media only screen and (min-width: 768px) {
  header {
    background: url(../img/about/key_img.jpg) no-repeat top center/100% auto;
  }
}

#sec1 {
  padding: 6vw 1% 19vw;
  position: relative;
}
#sec1::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 87%;
  height: 55vw;
  background: url(../img/about/sec1_bg.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec1::after {
    height: 394px;
    width: 60%;
    z-index: -4;
  }
}
#sec1::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67vw;
  width: 70%;
  z-index: -1;
  background: url(../img/about/sec1_bg.jpg);
}
@media only screen and (min-width: 768px) {
  #sec1::before {
    width: 60%;
    z-index: -2;
    height: 730px;
  }
}
@media only screen and (min-width: 768px) {
  #sec1 {
    padding: 139px 0px 200px 0px;
    margin-top: 0;
  }
}
#sec1 .wrap {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap {
    margin-bottom: 82px;
  }
}
#sec1 .wrap::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30vw;
  right: 0;
  bottom: -61vw;
  background: url(../img/about/sec1_deco.png) no-repeat bottom center/100% 100%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap::after {
    background: unset;
    content: url(../img/about/sec1_deco.png);
    right: 0;
    bottom: 0;
  }
}
#sec1 .wrap .group1 h2 {
  margin-bottom: 4vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 h2 {
    margin-bottom: 64px;
    width: 578px;
    position: relative;
  }
  #sec1 .wrap .group1 h2::after {
    position: absolute;
    content: "";
    bottom: -23px;
    left: 0;
    right: 0;
    height: 137%;
    background: url(../img/about/sec1_bg.jpg);
    z-index: -1;
  }
}
#sec1 .wrap .group1 .sec1-img {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 .sec1-img {
    position: absolute;
    margin-bottom: 0;
    right: -251px;
    top: -24px;
    z-index: -2;
  }
}
#sec1 .wrap .group1 .sec2-txt {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 .sec2-txt {
    margin: 0px 0px 0px 0px;
    width: 438px;
  }
}
#sec1 .sec1-slider .slide-item img {
  height: 40vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .sec1-slider .slide-item img {
    height: auto;
  }
}

#sec2 {
  margin: 6vw 0 0;
  color: white;
}
@media only screen and (min-width: 768px) {
  #sec2 {
    margin: 0px 0px 0px 0px;
  }
}
#sec2 .wrap .group1 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 {
    height: 730px;
  }
  #sec2 .wrap .group1::after {
    position: absolute;
    content: "";
    right: 256px;
    top: 0;
    bottom: 0;
    width: 200%;
    background: url(../img/about/sec2_bg.jpg);
    z-index: -1;
  }
}
#sec2 .wrap .group1 h2 {
  transform: rotate(-90deg);
  width: 18%;
  height: 31vw;
  margin: 0 0 0 10%;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 h2 {
    transform: rotate(0);
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: -188px;
  }
}
#sec2 .wrap .group1 .sec2-img {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-img {
    width: auto;
    position: absolute;
    left: 562px;
    right: -562px;
    top: 34px;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-content {
    width: auto;
    padding-top: 106px;
  }
}
#sec2 .wrap .group1 h3 {
  margin: 5vw auto;
  font-size: 6vw;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 h3 {
    margin: 0px 0px 24px 0px;
    font-size: 30px;
    text-align: left;
  }
}
#sec2 .wrap .group1 .sec2-txt {
  margin: 0 0 6vw 0;
  position: relative;
  padding: 0 5% 5vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 506px;
  }
}
#sec2 .wrap .group1 .sec2-txt::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 120vw;
  background: url(../img/about/sec2_bg.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt::after {
    display: none;
  }
}
#sec2 .wrap .group1 .sec2-txt .p1 {
  margin-bottom: 4vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt .p1 {
    margin: 0px 0px 20px 0px;
    width: 486px;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt .p2 {
    width: 488px;
  }
}
#sec2 .wrap .group2 {
  margin-top: 26vw;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 {
    margin: 0px 0px 0px 0px;
  }
  #sec2 .wrap .group2::before {
    position: absolute;
    content: url(../img/about/sec2_deco.png);
    left: -303px;
    top: -153px;
  }
}
#sec2 .wrap .group2::after {
  position: absolute;
  content: "";
  left: 0;
  top: -33vw;
  width: 35%;
  height: 40vw;
  background: url(../img/about/sec2_deco.png) no-repeat top center/100% auto;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2::after {
    display: none;
  }
}
#sec2 .wrap .group2 .sec2-txt2 {
  background: url(../img/about/sec2_bg.jpg);
  padding: 6vw 5%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .sec2-txt2 {
    padding: 62px 0 44px;
    background: unset;
    width: 822px;
    margin-left: auto;
    margin-top: 42px;
  }
  #sec2 .wrap .group2 .sec2-txt2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: -108px;
    width: 1183px;
    background: url(../img/about/sec2_bg.jpg);
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .p1 {
    width: auto;
    margin-bottom: 24px;
  }
}
#sec2 .wrap .group2 .p2 {
  margin: 6vw 0 0;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .p2 {
    margin: 0px 0px -7px 0px;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .p3 {
    width: auto;
  }
}

#sec3 {
  padding: 11vw 1% 4vw;
}
@media only screen and (min-width: 768px) {
  #sec3 {
    padding: 20px 0px 0px 0px;
    margin-top: 96px;
  }
}
#sec3 h2 {
  width: 80%;
  margin: 6vw auto 11vw;
}
@media only screen and (min-width: 768px) {
  #sec3 h2 {
    width: auto;
    margin: -5px 0px 59px 0px;
  }
}
#sec3 .sec3-btn-popup {
  width: 47%;
  display: inline-block;
  text-align: center;
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup {
    width: auto;
    margin-bottom: 35px;
  }
}
#sec3 .sec3-btn-popup .name {
  padding: 4vw 0 0;
  font-size: 3.5vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup .name {
    padding: 6px 0px 0px 0px;
    font-size: 19px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(1) {
    margin-left: 146px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(3) {
    margin-right: 146px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(2) {
    margin: 0 20px;
  }
}
#sec3 .group1 {
  padding: 8vw 2% 3vw;
  margin: 0 -3%;
  background: url(../img/about/sec3_bg.jpg);
}
@media only screen and (min-width: 768px) {
  #sec3 .group1 {
    padding: 0px 0px 0px 0px;
    margin: 0 -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: unset;
    position: relative;
  }
  #sec3 .group1:after {
    position: absolute;
    content: "";
    left: -500px;
    right: -500px;
    top: 64px;
    bottom: 135px;
    background: url(../img/about/sec3_bg.jpg);
    z-index: -1;
  }
}
#sec3 .group2 {
  padding: 0 5%;
  margin: 6vw 0 0 0;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 {
    padding: 0 1%;
    margin-top: 125px;
  }
}
#sec3 .group2 .banner {
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner {
    margin-bottom: 0;
    width: 32.2%;
  }
}
#sec3 .group2 .banner a .sec3-img img {
  width: 100%;
}
#sec3 .group2 .banner a .name {
  background: #9f5026;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner a .name {
    padding: 24px 0 22px 0;
  }
}
#sec3 .group2 .banner a .name strong {
  font-size: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner a .name strong {
    font-size: 33px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner:nth-child(2) {
    width: 33%;
  }
}

@media only screen and (min-width: 768px) {
  #sec4 {
    margin-top: 92px;
  }
}
#sec4 .wrap .group {
  padding: 5vw 4% 10vw;
  background: url(../img/about/sec4_bg.jpg);
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .group {
    padding: 0;
    background: unset;
  }
}
#sec4 .wrap .group:after {
  content: "";
  position: absolute;
  left: 2%;
  top: 2vw;
  bottom: 2vw;
  right: 2%;
  border: 1px solid #c1b4a2;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .group:after {
    left: -62px;
    top: 27px;
    bottom: -57px;
    right: -259px;
  }
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap::before {
    content: "";
    position: absolute;
    left: -90px;
    top: -1px;
    bottom: -83px;
    right: -26%;
    background: url(../img/about/sec4_bg.jpg);
  }
}
#sec4 .wrap h2 {
  width: 80%;
  margin: 4vw auto 8vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap h2 {
    width: auto;
    margin: 0 0 40px 0;
    padding: 99px 0 0 96px;
  }
}
#sec4 .wrap .sec4-img {
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-img {
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: -260px;
    top: 68px;
  }
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt {
    width: 544px;
  }
}
#sec4 .wrap .sec4-txt .p1 {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt .p1 {
    margin: 0px 0px 20px 0px;
  }
}
#sec4 .wrap .sec4-txt .p2 {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt .p2 {
    margin: 0px 0px 44px 0px;
  }
}
.popup-item {
  border: 1px solid #342513;
}
.popup-item .title-item {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .popup-item .title-item {
    font-size: 24px;
    line-height: 36px;
    color: #342513;
    padding-left: 60px;
  }
  .popup-item .title-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background: #342513;
  }
}

.popup1-2 .group1 {
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 .sec3-popup-img1 {
    width: 50%;
    margin-left: -30px;
  }
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 .content {
    width: 50%;
  }
}/*# sourceMappingURL=about.css.map */