.txt-f3 {
  font-size: 4.5vw;
}
@media only screen and (min-width: 768px) {
  .txt-f3 {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }
}

.txt-f4 {
  font-size: 6vw;
}
@media only screen and (min-width: 768px) {
  .txt-f4 {
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.1em;
  }
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .flex-pc {
    display: flex;
  }
}

.remodal {
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 1000px;
    box-sizing: border-box;
  }
}

header {
  background: url(../img/about/key_img.jpg) no-repeat top center/100% auto;
}

#sec1 {
  padding: 6vw 1% 19vw;
  position: relative;
}
#sec1::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 87%;
  height: 55vw;
  background: url(../img/about/sec1_bg.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec1::after {
    height: 395px;
    width: 60%;
    z-index: -4;
  }
}
#sec1::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67vw;
  width: 70%;
  z-index: -1;
  background: url(../img/about/sec1_bg.jpg);
}
@media only screen and (min-width: 768px) {
  #sec1::before {
    content: "";
    width: 60%;
    z-index: -2;
    height: 790px;
    bottom: -50px;
    background: url(../img/about/sec1_bg.jpg);
  }
}
@media only screen and (min-width: 768px) {
  #sec1 {
    padding: 139px 0px 200px 0px;
    margin-top: 0;
  }
}
#sec1 .wrap {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap {
    margin-bottom: 82px;
  }
}
#sec1 .wrap::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30vw;
  right: -18px;
  bottom: -61vw;
  background: url(../img/about/sec1_deco.png) no-repeat bottom center/100% 100%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap::after {
    background: unset;
    content: url(../img/about/sec1_deco.png);
    right: 0;
    bottom: -640px;
    height: auto;
    width: auto;
  }
}
#sec1 .wrap .group1 h2 {
  margin-bottom: 4vw;
  color: #441e0a;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 h2 {
    margin-bottom: 31px;
    width: 578px;
    position: relative;
  }
  #sec1 .wrap .group1 h2::after {
    position: absolute;
    content: "";
    bottom: -23px;
    left: 0;
    right: 0;
    height: 137%;
    background: url(../img/about/sec1_bg.jpg);
    z-index: -1;
  }
}
#sec1 .wrap .group1 .sec1-img {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 .sec1-img {
    position: absolute;
    margin-bottom: 0;
    right: -251px;
    top: -24px;
    z-index: -2;
  }
}
#sec1 .wrap .group1 .sec2-txt {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .wrap .group1 .sec2-txt {
    margin: 0px 0px 0px 0px;
    width: 438px;
  }
}
@media only screen and (min-width: 768px) {
  #sec1 .sec1-slider {
    margin-top: 40px;
  }
}
#sec1 .sec1-slider .slide-item img {
  height: 40vw;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #sec1 .sec1-slider .slide-item img {
    height: auto;
  }
}

#sec2 {
  margin: 6vw 0 0;
  color: white;
}
@media only screen and (min-width: 768px) {
  #sec2 {
    margin: 0px 0px 0px 0px;
  }
}
#sec2 .wrap .group1 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 {
    height: 723px;
  }
  #sec2 .wrap .group1::after {
    position: absolute;
    content: "";
    right: 256px;
    top: 0;
    bottom: 0;
    width: 200%;
    background: url(../img/about/sec2_bg.jpg);
    z-index: -1;
  }
}
#sec2 .wrap .group1 h2 {
  transform: rotate(-90deg);
  width: 18%;
  height: 31vw;
  margin: 0 0 0 10%;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 h2 {
    transform: rotate(0);
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: -188px;
  }
}
#sec2 .wrap .group1 .sec2-img {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-img {
    width: auto;
    position: absolute;
    left: 562px;
    right: -562px;
    top: 34px;
  }
}
#sec2 .wrap .group1 .sec2-content {
  position: relative;
}
#sec2 .wrap .group1 .sec2-content::after {
  position: absolute;
  content: "";
  left: 21%;
  width: 68%;
  bottom: 5vw;
  height: 2px;
  background: #b06e4a;
}
#sec2 .wrap .group1 .sec2-content::before {
  position: absolute;
  content: "";
  left: 19%;
  width: 68%;
  bottom: 4vw;
  height: 2px;
  background: #b06e4a;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-content {
    width: auto;
    padding-top: 106px;
  }
  #sec2 .wrap .group1 .sec2-content::after {
    position: absolute;
    content: "";
    left: 0;
    width: 521px;
    bottom: -95px;
    height: 2px;
    background: #b06e4a;
  }
  #sec2 .wrap .group1 .sec2-content::before {
    position: absolute;
    content: "";
    left: -10px;
    width: 521px;
    bottom: -99px;
    height: 2px;
    background: #b06e4a;
  }
}
#sec2 .wrap .group1 h3 {
  margin: 5vw auto;
  font-size: 6vw;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 h3 {
    margin: 0px 0px 24px 0px;
    font-size: 30px;
    text-align: left;
  }
}
#sec2 .wrap .group1 .sec2-txt {
  margin: 0 0 6vw 0;
  position: relative;
  padding: 0 5% 5vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 506px;
  }
}
#sec2 .wrap .group1 .sec2-txt::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 120vw;
  background: url(../img/about/sec2_bg.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt::after {
    display: none;
  }
}
#sec2 .wrap .group1 .sec2-txt p {
  margin-bottom: 4vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt p:nth-child(1) {
    margin: 0px 0px 20px 0px;
    width: 486px;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt p:nth-child(2) {
    width: 488px;
  }
}
#sec2 .wrap .group2 {
  margin-top: 26vw;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 {
    margin: 0px 0px 0px 0px;
  }
  #sec2 .wrap .group2::before {
    position: absolute;
    content: url(../img/about/sec2_deco.png);
    left: -303px;
    top: -153px;
  }
}
#sec2 .wrap .group2::after {
  position: absolute;
  content: "";
  left: 0;
  top: -33vw;
  width: 35%;
  height: 40vw;
  background: url(../img/about/sec2_deco.png) no-repeat top center/100% auto;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2::after {
    display: none;
  }
}
#sec2 .wrap .group2 .sec2-txt2 {
  background: url(../img/about/sec2_bg.jpg);
  padding: 6vw 5%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .sec2-txt2 {
    padding: 62px 0 44px;
    background: unset;
    width: 822px;
    margin-left: auto;
    margin-top: 42px;
  }
  #sec2 .wrap .group2 .sec2-txt2::after {
    position: absolute;
    content: "";
    top: 6px;
    bottom: 16px;
    left: -108px;
    width: 1183px;
    background: url(../img/about/sec2_bg.jpg);
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 p {
    margin-bottom: 24px;
  }
}
#sec2 .wrap .group2 .p2 {
  margin: 6vw 0 0;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group2 .p2 {
    margin: 0px 0px -7px 0px;
  }
}

#sec3 {
  padding: 11vw 1% 4vw;
}
@media only screen and (min-width: 768px) {
  #sec3 {
    padding: 6px 0px 0px 0px;
    margin-top: 96px;
  }
}
#sec3 h2 {
  width: 80%;
  margin: 6vw auto 11vw;
}
@media only screen and (min-width: 768px) {
  #sec3 h2 {
    width: auto;
    margin: -5px 0px 59px 0px;
  }
}
#sec3 .sec3-btn-popup {
  width: 47%;
  display: inline-block;
  text-align: center;
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup {
    width: auto;
    margin-bottom: 35px;
  }
}
#sec3 .sec3-btn-popup .name {
  padding: 4vw 0 0;
  font-size: 3.5vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup .name {
    padding: 6px 0px 0px 0px;
    font-size: 19px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(1) {
    margin-left: 146px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(3) {
    margin-right: 146px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .sec3-btn-popup:nth-child(2) {
    margin: 0 20px;
  }
}
#sec3 .group1 {
  padding: 8vw 2% 3vw;
  margin: 0 -3%;
  background: url(../img/about/sec3_bg.jpg);
}
@media only screen and (min-width: 768px) {
  #sec3 .group1 {
    padding: 0px 0px 0px 0px;
    margin: 0 -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: unset;
    position: relative;
  }
  #sec3 .group1:after {
    position: absolute;
    content: "";
    left: -500px;
    right: -500px;
    top: 64px;
    bottom: 135px;
    background: url(../img/about/sec3_bg.jpg);
    z-index: -1;
  }
}
#sec3 .group2 {
  padding: 0 5%;
  margin: 6vw 0 0 0;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 {
    padding: 0 1%;
    margin-top: 123px;
  }
}
#sec3 .group2 .banner {
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner {
    margin-bottom: 0;
    width: 32.2%;
  }
}
#sec3 .group2 .banner a .sec3-img img {
  width: 100%;
}
#sec3 .group2 .banner a .name {
  background: #9f5026;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner a .name {
    padding: 20px 0 22px 0;
  }
}
#sec3 .group2 .banner a .name strong {
  font-size: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner a .name strong {
    font-size: 33px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3 .group2 .banner:nth-child(2) {
    width: 33%;
  }
}

@media only screen and (min-width: 768px) {
  #sec4 {
    margin-top: 92px;
    margin-bottom: 284px;
  }
}
#sec4 .wrap .group {
  padding: 5vw 4% 10vw;
  background: url(../img/about/sec4_bg.jpg);
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .group {
    padding: 0;
    background: unset;
  }
}
#sec4 .wrap .group:after {
  content: "";
  position: absolute;
  left: 2%;
  top: 2vw;
  bottom: 2vw;
  right: 2%;
  border: 1px solid #c1b4a2;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .group:after {
    left: -62px;
    top: 27px;
    bottom: -57px;
    right: -259px;
  }
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap::before {
    content: "";
    position: absolute;
    left: -90px;
    top: -1px;
    bottom: -83px;
    right: -26%;
    background: url(../img/about/sec4_bg.jpg);
  }
}
#sec4 .wrap h2 {
  width: 80%;
  margin: 4vw auto 8vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap h2 {
    width: auto;
    margin: 0 0 40px 0;
    padding: 99px 0 0 96px;
  }
}
#sec4 .wrap .sec4-img {
  margin-bottom: 6vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-img {
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: -260px;
    top: 68px;
  }
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt {
    width: 544px;
  }
}
#sec4 .wrap .sec4-txt .p1 {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt .p1 {
    margin: 0px 0px 20px 0px;
  }
}
#sec4 .wrap .sec4-txt .p2 {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec4 .wrap .sec4-txt .p2 {
    margin: 0px 0px 44px 0px;
  }
}

.popup-item {
  border: 1px solid #441e0a;
  position: relative;
  padding-top: 6vw;
}
@media only screen and (min-width: 768px) {
  .popup-item {
    padding: 0px 0px 0px 0px;
  }
}
.popup-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/about/sec3_bg_popup_bottom.jpg) repeat bottom center;
  z-index: -1;
}
.popup-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../img/about/sec3_bg_popup_top.jpg) repeat top center;
}
@media only screen and (min-width: 768px) {
  .popup-item {
    padding: 30px 0px 0px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .popup-item .wrap {
    padding: 0px 0px 0px 0px;
  }
}
.popup-item .title-item {
  position: relative;
  font-size: 5vw;
  padding-left: 15vw;
  padding-bottom: 4vw;
}
.popup-item .title-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 4.7vw;
  width: 12%;
  height: 0.65vw;
  background: #342513;
}
@media only screen and (min-width: 768px) {
  .popup-item .title-item {
    font-size: 24px;
    line-height: 36px;
    color: #342513;
    padding-left: 60px;
    padding-bottom: 25px;
  }
  .popup-item .title-item:after {
    left: 0;
    top: 18px;
    width: 40px;
    height: 2px;
  }
}
.popup-item .btn-link {
  margin: 6vw auto;
}
.popup-item .btn-link::after {
  background-image: url(../img/shared/close.png);
  width: 6%;
  height: 5vw;
}
@media only screen and (min-width: 768px) {
  .popup-item .btn-link {
    width: 316px;
    height: 80px;
    margin: 50px auto;
  }
  .popup-item .btn-link::after {
    width: 22px;
    height: 22px;
  }
}
.popup-item .btn-link:hover::after {
  background: url(../img/shared/close_on.png);
}

.popup1-2 .group1 {
  justify-content: space-between;
  padding: 0 4% 5vw;
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 {
    padding: 0px 0px 0px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 .sec3-popup-img1 {
    width: 50%;
    margin-left: -30px;
  }
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 .content {
    width: 50%;
    padding: 30px 0 0 0;
  }
}
.popup1-2 .group1 .content .txt p + p {
  margin-top: 5vw;
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group1 .content .txt p + p {
    margin-top: 20px;
  }
}
.popup1-2 .group2 {
  padding: 6vw 4% 0;
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group2 {
    padding: 0px 0px 0px 0px;
  }
}
.popup1-2 .group2 .sec3-popup-img2 {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  .popup1-2 .group2 .sec3-popup-img2 {
    margin: 0px 0px 0px 0px;
  }
}

#sec3-popup1::before {
  height: 42%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup1::before {
    height: 33%;
  }
}
#sec3-popup1::after {
  height: 58%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup1::after {
    height: 67%;
  }
}
#sec3-popup1 .group2 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec3-popup1 .group2 .sec3-popup-img2 {
    position: absolute;
    right: 0;
    top: -144px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup1 .group2 .content p:nth-child(1) {
    width: 470px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup1 .group2 .content p:nth-child(2) {
    width: 750px;
  }
}

#sec3-popup2::before {
  height: 48%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup2::before {
    height: 35%;
  }
}
#sec3-popup2::after {
  height: 52%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup2::after {
    height: 65%;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup2 .wrap .group1 .content .title-item {
    letter-spacing: 0;
  }
}
#sec3-popup2 .wrap .group2 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec3-popup2 .wrap .group2 {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup2 .wrap .group2 .sec3-popup-img2 {
    position: absolute;
    right: 0;
    top: -135px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup2 .wrap .group2 .content .txt p {
    width: 466px;
  }
}

#sec3-popup5::before {
  height: 48%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup5::before {
    height: 35%;
  }
}
#sec3-popup5::after {
  height: 52%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup5::after {
    height: 65%;
  }
}
#sec3-popup5 .wrap .group2 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec3-popup5 .wrap .group2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup5 .wrap .group2 .content .txt p {
    width: 466px;
  }
}

#sec3-popup6::before {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group1 .sec3-popup-img1 {
    margin-left: -82px;
    margin-top: -46px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group1 .content {
    padding-right: 12px !important;
    margin-right: 40px;
  }
}
#sec3-popup6 .wrap .group1 .content .title-item {
  margin-top: 3vw;
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group1 .content .title-item {
    margin: 0px 0px 0px 0px;
  }
}
#sec3-popup6 .wrap .group2 {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group2 {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group2 .sec3-popup-img2 {
    position: absolute;
    right: 0;
    top: -135px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup6 .wrap .group2 .content .txt p {
    width: 466px;
  }
}

#sec3-popup7::before {
  height: 100%;
}
#sec3-popup7 .wrap .group1 .content .title-item {
  margin-top: 3vw;
}
@media only screen and (min-width: 768px) {
  #sec3-popup7 .wrap .group1 .content .title-item {
    margin: 0px 0px 0px 0px;
  }
}

#sec3-popup3::before {
  height: 57%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup3::before {
    height: 64%;
  }
}
#sec3-popup3::after {
  height: 43%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup3::after {
    height: 36%;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group1 .sec3-popup-img1 {
    margin-top: -25px;
    margin-left: -132px;
    width: 65%;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group1 .content {
    line-height: 37px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -169px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group2 .sec3-popup-img2 {
    margin-left: -18px;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group2 .content {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  #sec3-popup3 .group2 .content .txt p {
    padding-right: 12px;
  }
}

#sec3-popup4::before {
  height: 63.2%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4::before {
    height: 56.6%;
  }
}
#sec3-popup4::after {
  height: 36.8%;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4::after {
    height: 43.4%;
  }
}
#sec3-popup4 .group1 {
  margin-top: -6vw;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group1 {
    margin: 0px 0px 0px 0px;
  }
  #sec3-popup4 .group1 .sec3-popup-img1 {
    width: auto;
    margin-left: -65px;
    margin-top: -30px;
  }
  #sec3-popup4 .group1 .content .txt {
    padding-right: 10px;
  }
}
#sec3-popup4 .group2 {
  padding-top: 12vw;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group2 {
    display: flex;
    padding-top: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #sec3-popup4 .group2 .sec3-popup-img2 {
    margin-right: -22px;
  }
  #sec3-popup4 .group2 .content {
    width: 50%;
  }
  #sec3-popup4 .group2 .content .txt {
    padding-right: 13px;
  }
}
#sec3-popup4 .group3 {
  position: relative;
  padding: 0vw 7%;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group3 {
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
    position: relative;
    top: -73px;
    z-index: 1;
  }
}
#sec3-popup4 .group3::after {
  position: absolute;
  content: "";
  left: 3%;
  right: 3%;
  top: -1vw;
  bottom: -1vw;
  background: url(../img/about/sec3_bg_popup4.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group3::after {
    left: -20px;
    right: -20px;
    top: 0px;
    bottom: 0px;
  }
}
#sec3-popup4 .group3 .item {
  padding: 5vw 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group3 .item {
    padding: 20px 0;
  }
}
#sec3-popup4 .group3 .item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 15%;
  right: 15%;
  height: 1px;
  background: #fff;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group3 .item {
    margin: 0px 0px 0px 0px;
    width: 30%;
  }
  #sec3-popup4 .group3 .item::after {
    right: -17px;
    left: auto;
    top: 20px;
    bottom: 20px;
    width: 1px;
    height: auto;
  }
}
#sec3-popup4 .group3 .item:last-child::after {
  display: none;
}
#sec3-popup4 .group3 .content {
  margin-top: 2vw;
}
@media only screen and (min-width: 768px) {
  #sec3-popup4 .group3 .content {
    margin-top: 12px;
  }
}/*# sourceMappingURL=about.css.map */