@import "global";
.txt-f3 {
	font-size: 4.5vw;
	@include pc {
		font-size: 30px;
		line-height: 60px;
		letter-spacing: 0.1em;
	}
}
.txt-f4 {
	font-size: 6vw;
	@include pc {
		font-size: 40px;
		line-height: 70px;
		letter-spacing: 0.1em;
	}
}
.txt-center {
	text-align: center;
}
.txt-left {
	text-align: left;
}
.txt-right {
	text-align: right;
}
.flex-pc {
	@include pc {
		display: flex;
	}
}
.remodal {
	background: transparent;
	@include sp {
		padding: 5vw 3%;
	}
}
.wrap {
	@include pc {
		// border-left: 1px solid red;
		// border-right: 1px solid red;
		max-width: 1000px;
		box-sizing: border-box;
	}
}
header {
	background: url(../img/about/key_img.jpg) no-repeat top center/100% 100%;
}

#sec1 {
	padding: 6vw 1% 19vw;
	position: relative;
	&::after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 87%;
		height: 55vw;
		background: url(../img/about/sec1_bg.jpg);
		z-index: -1;
		@include pc {
			height: 395px;
			width: 60%;
			z-index: -4;
		}
	}
	&::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		height: 67vw;
		width: 70%;
		z-index: -1;
		background: url(../img/about/sec1_bg.jpg);
		@include pc {
			content: "";
			width: 60%;
			z-index: -2;
			height: 790px;
			bottom: -50px;
			background: url(../img/about/sec1_bg.jpg);
		}
	}
	@include pc {
		padding: 139px 0px 200px 0px;
		margin-top: 0;
	}
	.wrap {
		position: relative;
		@include pc {
			margin-bottom: 75px;
		}
		&::after {
			position: absolute;
			content: "";
			width: 30%;
			height: 30vw;
			right: -18px;
			bottom: -61vw;
			background: url(../img/about/sec1_deco.png) no-repeat bottom center/100% 100%;
			z-index: 1;
			@include pc {
				background: unset;
				content: url(../img/about/sec1_deco.png);
				right: -14px;
				bottom: -640px;
				height: auto;
				width: auto;
			}
		}
		.group1 {
			h2 {
				margin-bottom: 4vw;
				color: #441e0a;
				@include pc {
					margin-bottom: 31px;
					width: 578px;
					position: relative;
					&::after {
						position: absolute;
						content: "";
						bottom: -23px;
						left: 0;
						right: 0;
						height: 137%;
						background: url(../img/about/sec1_bg.jpg);
						z-index: -1;
					}
				}
			}
			.sec1-img {
				margin-bottom: 5vw;
				@include pc {
					position: absolute;
					margin-bottom: 0;
					right: -251px;
					top: -24px;
					z-index: -2;
				}
			}
			.sec2-txt {
				margin-bottom: 5vw;
				@include pc {
					margin: 0px 0px 0px 0px;
					width: 438px;
				}
			}
		}
	}
	.sec1-slider {
		@include pc {
			margin-top: 40px;
		}
		.slide-item {
			img {
				height: 40vw;
				width: auto;
				@include pc {
					height: auto;
				}
			}
		}
	}
}

#sec2 {
	margin: 0 0 0;
	color: white;
	@include pc {
		margin: 0px 0px 0px 0px;
	}
	.wrap {
		.group1 {
			position: relative;
			@include pc {
				height: 723px;
				&::after {
					position: absolute;
					content: "";
					right: calc(50% - 240px);
					top: 0;
					bottom: 0;
					width: 200%;
					background: url(../img/about/sec2_bg.jpg);
					z-index: -1;
				}
			} 
			h2 {
				transform: rotate(-90deg);
				width: 18%;
				height: 31vw;
				margin: 0 0 0 10%;
				@include pc {
					transform: rotate(0);
					width: auto;
					height: auto;
					margin: 0px 0px 0px 0px;
					position: absolute;
					left: -188px;
				}
			}
			.sec2-img {
				width: 90%;
				margin: 0 auto;
				@include pc {
					width: auto;
					position: absolute;
					left: 562px;
					right: -562px;
					top: 34px;
				}
			}
			.sec2-content {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					left: 21%;
					width: 68%;
					bottom: 5vw;
					height: 2px;
					background: #b06e4a;
				}
				&::before {
					position: absolute;
					content: "";
					left: 19%;
					width: 68%;
					bottom: 4vw;
					height: 2px;
					background: #b06e4a;
				}
				@include pc {
					width: auto;
					padding-top: 106px;
					padding-left: 14px;
					&::after {
						position: absolute;
						content: "";
						left: 0;
						width: 521px;
						bottom: -95px;
						height: 2px;
						background: #b06e4a;
					}
					&::before {
						position: absolute;
						content: "";
						left: -10px;
						width: 521px;
						bottom: -99px;
						height: 2px;
						background: #b06e4a;
					}
				}
			}
			h3 {
				margin: 5vw auto;
				font-size: 6vw;
				text-align: center;
				@include pc {
					margin: 0px 0px 24px 0px;
					font-size: 30px;
					text-align: left;
				}
			}
			.sec2-txt {
				margin: 0 0 6vw 0;
				position: relative;
				padding: 0 5% 5vw;
				@include pc {
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
					width: 506px;
				}
				&::after {
					position: absolute;
					content: "";
					left: 0;
					right: 0;
					bottom: 0;
					height: 134vw;
					background: url(../img/about/sec2_bg.jpg);
					z-index: -1;
					@include pc {
						display: none;
					}
				}
				p {
					margin-bottom: 4vw;
				}
				p:nth-child(1) {
					@include pc {
						margin: 0px 0px 20px 0px;
						width: 486px;
					}
				}
				p:nth-child(2) {
					@include pc {
						width: 488px;
					}
				}
			}
		}
		.group2 {
			margin-top: 26vw;
			position: relative;
			@include pc {
				margin: 0px 0px 0px 0px;
				&::before {
					position: absolute;
					content: url(../img/about/sec2_deco.png);
					left: -303px;
					top: -153px;
				}
			}
			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: -33vw;
				width: 35%;
				height: 40vw;
				background: url(../img/about/sec2_deco.png) no-repeat top center/100% auto;
				z-index: 0;
				@include pc {
					display: none;
				}
			}
			.sec2-txt2 {
				background: url(../img/about/sec2_bg.jpg);
				padding: 6vw 5%;
				position: relative;
				@include pc {
					padding: 74px 0 44px;
					background: unset;
					width: 796px;
					margin-left: auto;
					margin-top: 42px;
					&::after {
						position: absolute;
						content: "";
						top: 7px;
						bottom: 28px;
						left: calc(50% - 535px);
						width: 1183px;
						background: url(../img/about/sec2_bg.jpg);
						z-index: -1;
					}
				}
			}
			p {
				@include pc {
					margin-bottom: 24px;
					margin-left: -26px;
					transform: translateX(-26px);
				}
			}
			.p2 {
				margin: 6vw 0 0;
				@include pc {
					margin-bottom: -7px;
					margin-top: 0;
					margin-left: -26px;
				}
			}
		}
	}
}
#sec3 {
	padding: 5vw 1% 4vw;
	@include pc {
		padding: 0px 0px 0px 0px;
		margin-top: 91px;
	}
	h2 {
		width: 80%;
		margin: 6vw auto 11vw;
		@include pc {
			width: auto;
			margin: -5px 0px 59px 0px;
		}
	}
	.sec3-btn-popup {
		width: 47%;
		display: inline-block;
		text-align: center;
		margin-bottom: 6vw;
		@include pc {
			width: auto;
			margin-bottom: 35px;
		}
		.name {
			padding: 4vw 0 0;
			font-size: 3.5vw;
			@include pc {
				padding: 6px 0px 0px 0px;
				font-size: 19px;
				line-height: 27px;
			}
		}
	}
	.sec3-btn-popup:nth-child(1) {
		@include pc {
			margin-left: 146px;
		}
	}
	.sec3-btn-popup:nth-child(3) {
		@include pc {
			margin-right: 146px;
		}
	}
	.sec3-btn-popup:nth-child(2) {
		@include pc {
			margin: 0 20px;
		}
	}

	.group1 {
		padding: 8vw 2% 3vw;
		margin: 0 -3%;
		background: url(../img/about/sec3_bg.jpg);
		@include pc {
			padding: 0px 0px 0px 0px;
			margin: 0 -60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			background: unset;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				left: -500px;
				right: -500px;
				top: 64px;
				bottom: 135px;
				background: url(../img/about/sec3_bg.jpg);
				z-index: -1;
			}
		}
	}

	.group2 {
		padding: 0 5%;
		margin: 6vw 0 0 0;
		@include pc {
			padding: 0 1%;
			margin-top: 123px;
		}
		.banner {
			margin-bottom: 6vw;
			@include pc {
				margin-bottom: 0;
				width: 32.2%;
			}
			a {
				.sec3-img {
					img {
						width: 100%;
					}
				}
				.name {
					background: #9f5026;
					color: #fff;
					padding: 3vw 0;
					display: flex;
					flex-direction: column;
					@include pc {
						padding: 0px 0 22px 0;
					}
					strong {
						font-size: 5vw;
						line-height: 1;
						@include pc {
							font-size: 33px;
							letter-spacing: 2.2px;
							line-height: 2.4;
						}
					}
					span {
						line-height: 1;
					}
				}
			}
		}
		.banner:nth-child(2) {
			@include pc {
				width: 33%;
			}
		}
	}
}

#sec4 {
	margin-bottom: 6vw;
	@include pc {
		margin-top: 92px;
		margin-bottom: 284px;
	}
	.wrap {
		.group {
			padding: 5vw 4% 10vw;
			background: url(../img/about/sec4_bg.jpg);
			position: relative;
			@include pc {
				padding: 0;
				background: unset;
			}
			&:after {
				content: "";
				position: absolute;
				left: 2%;
				top: 2vw;
				bottom: 2vw;
				right: 2%;
				border: 1px solid #c1b4a2;
				@include pc {
					left: -62px;
					top: 27px;
					bottom: -57px;
					right: -259px;
				}
			}
		}
		&::before {
			@include pc {
				content: "";
				position: absolute;
				left: -90px;
				top: -1px;
				bottom: -83px;
				right: -26%;
				background: url(../img/about/sec4_bg.jpg);
			}
		}
		h2 {
			width: 80%;
			margin: 4vw auto 8vw;
			@include pc {
				width: auto;
				margin: 0 0 40px 0;
				padding: 99px 0 0 96px;
			}
		}
		.sec4-img {
			margin-bottom: 6vw;
			@include pc {
				margin: 0px 0px 0px 0px;
				position: absolute;
				right: -260px;
				top: 68px;
			}
		}
		.sec4-txt {
			@include pc {
				width: 544px;
			}
			.p1 {
				margin-bottom: 5vw;
				@include pc {
					margin: 0px 0px 20px 0px;
				}
			}
			.p2 {
				margin-bottom: 5vw;
				@include pc {
					margin: 0px 0px 44px 0px;
				}
			}
		}
	}
}

.popup-item {
	border: 1px solid #441e0a;
	position: relative;
	padding-top: 6vw;
	@include pc {
		padding: 0px 0px 0px 0px;
	}
	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		left: 0;
		background: url(../img/about/sec3_bg_popup_bottom.jpg) repeat bottom center;
		z-index: -3;
		height: 100%;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background: url(../img/about/sec3_bg_popup_top.jpg) repeat top center;
	}
	@include pc {
		padding: 30px 0px 0px 0px;
	}
	.wrap {
		@include pc {
			padding: 0px 0px 0px 0px;
		}
	}
	.title-item {
		position: relative;
		font-size: 5vw;
		padding-left: 15vw;
		padding-bottom: 4vw;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 4.7vw;
			width: 12%;
			height: 0.65vw;
			background: #342513;
		}
		@include pc {
			font-size: 24px;
			line-height: 36px;
			color: #342513;
			padding-left: 60px;
			padding-bottom: 25px;
			&:after {
				left: 0;
				top: 18px;
				width: 40px;
				height: 2px;
			}
		}
	}
	.btn-link {
		&::after {
			background-image: url(../img/shared/close.png);
			width: 6%;
			height: 5vw;
		}
		margin: 6vw auto;
		@include pc {
			width: 316px;
			height: 80px;
			margin: 50px auto;
			&::after {
				width: 22px;
				height: 22px;
			}
		}
	}
	.btn-link:hover {
		&::after {
			background: url(../img/shared/close_on.png);
		}
	}
}
.popup-item {
	.group1 {
		justify-content: space-between;
		padding: 0 4% 5vw;
		@include pc {
			padding: 0px 0px 0px 0px;
		}
		.sec3-popup-img1 {
			@include pc {
				width: 50%;
				margin-left: -30px;
			}
		}
		.content {
			@include pc {
				width: 50%;
				padding: 30px 0 0 0;
			}
			.txt {
				p + p {
					margin-top: 5vw;
					@include pc {
						margin-top: 20px;
					}
				}
			}
		}
	}
	.group2 {
		padding: 6vw 4% 0;

		@include pc {
			padding: 0px 0px 0px 0px;
		}
		.sec3-popup-img2 {
			margin-bottom: 5vw;
			@include pc {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}
#sec3-popup1 {
	&::before {
		height: 42%;
		@include pc {
			height: 33%;
		}
	}
	.group2 {
		position: relative;
		.sec3-popup-img2 {
			@include pc {
				position: absolute;
				right: 0;
				top: -144px;
			}
		}
		.content {
			p:nth-child(1) {
				@include pc {
					width: 470px;
				}
			}
			p:nth-child(2) {
				@include pc {
					width: 750px;
				}
			}
		}
	}
}
#sec3-popup2 {
	&::before {
		height: 48%;
		@include pc {
			height: 35%;
		}
	}
	.wrap {
		.group1 {
			.content {
				.title-item {
					@include pc {
						letter-spacing: 0;
					}
				}
			}
		}
		.group2 {
			position: relative;
			@include pc {
				margin-top: 60px;
			}
			.sec3-popup-img2 {
				@include pc {
					position: absolute;
					right: 0;
					top: -135px;
				}
			}
			.content {
				.txt {
					p {
						@include pc {
							width: 466px;
						}
					}
				}
			}
		}
	}
}
#sec3-popup5 {
	&::before {
		height: 48%;
		@include pc {
			height: 35%;
		}
	}
	.wrap {
		.group2 {
			position: relative;
			@include pc {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;
			}
			.content {
				.txt {
					p {
						@include pc {
							width: 466px;
						}
					}
				}
			}
		}
	}
}
#sec3-popup6 {
	&::before {
		height: 100%;
	}
	.wrap {
		.group1 {
			.sec3-popup-img1 {
				@include pc {
					margin-left: -82px;
					margin-top: -46px;
				}
			}
			.content {
				@include pc {
					padding-right: 12px !important;
					margin-right: 40px;
				}
				.title-item {
					margin-top: 3vw;
					@include pc {
						margin: 0px 0px 0px 0px;
					}
				}
			}
		}
		.group2 {
			position: relative;
			@include pc {
				margin-top: 60px;
			}
			.sec3-popup-img2 {
				@include pc {
					position: absolute;
					right: 0;
					top: -135px;
				}
			}
			.content {
				.txt {
					p {
						@include pc {
							width: 466px;
						}
					}
				}
			}
		}
	}
}
#sec3-popup7 {
	&::before {
		height: 100%;
	}
	.wrap {
		.group1 {
			.content {
				.title-item {
					margin-top: 3vw;
					@include pc {
						margin: 0px 0px 0px 0px;
					}
				}
			}
		}
	}
}
#sec3-popup3 {
	&::before {
		height: 57%;
		@include pc {
			height: 64%;
		}
	}

	.group1 {
		.sec3-popup-img1 {
			@include pc {
				margin-top: -25px;
				margin-left: -132px;
				width: 65%;
			}
		}
		.content {
			@include pc {
				line-height: 37px;
				padding-right: 15px;
			}
		}
	}
	.group2 {
		@include pc {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: -169px;
		}
		.sec3-popup-img2 {
			@include pc {
				margin-left: -18px;
			}
		}
		.content {
			@include pc {
				width: 50%;
			}
			.txt p {
				@include pc {
					// width: 50%;
					padding-right: 12px;
				}
			}
		}
	}
}
#sec3-popup4 {
	&::before {
		height: 63.2%;
		@include pc {
			height: 56.6%;
		}
	}
	.group1 {
		margin-top: -6vw;
		@include pc {
			margin: 0px 0px 0px 0px;
			.sec3-popup-img1 {
				width: auto;
				margin-left: -65px;
				margin-top: -30px;
			}
			.content {
				.txt {
					padding-right: 10px;
				}
			}
		}
	}
	.group2 {
		padding-top: 12vw;
		@include pc {
			display: flex;
			padding-top: 0;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			.sec3-popup-img2 {
				margin-right: -22px;
			}
			.content {
				width: 50%;
				.txt {
					padding-right: 13px;
				}
			}
		}
	}
	.group3 {
		position: relative;
		padding: 0vw 7%;
		color: #fff;
		@include pc {
			padding: 0px 0px 0px 0px;
			justify-content: space-between;
			position: relative;
			top: -73px;
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			left: 3%;
			right: 3%;
			top: -1vw;
			bottom: -1vw;
			background: url(../img/about/sec3_bg_popup4.jpg);
			z-index: -1;
			@include pc {
				left: -20px;
				right: -20px;
				top: 0px;
				bottom: 0px;
			}
		}
		.item {
			padding: 5vw 0;
			position: relative;
			@include pc {
				padding: 20px 0;
			}
			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				left: 15%;
				right: 15%;
				height: 1px;
				background: #fff;
			}
			@include pc {
				margin: 0px 0px 0px 0px;
				width: 30%;
				&::after {
					right: -17px;
					left: auto;
					top: 20px;
					bottom: 20px;
					width: 1px;
					height: auto;
				}
			}
		}
		.item:last-child {
			&::after {
				display: none;
			}
		}
		.content {
			margin-top: 2vw;
			@include pc {
				margin-top: 12px;
			}
		}
	}
}
