@charset "UTF-8";
.txt-f3 {
  font-size: 4.5vw;
}
@media only screen and (min-width: 768px) {
  .txt-f3 {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }
}

.txt-f4 {
  font-size: 6vw;
}
@media only screen and (min-width: 768px) {
  .txt-f4 {
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.1em;
  }
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .flex-pc {
    display: flex;
  }
}

header {
  background: url(../img/anniversary/kv_img.jpg) no-repeat top center/100% 100%;
}

@-webkit-keyframes imgSlide {
  0% {
    opacity: 0;
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes imgSlide {
  0% {
    opacity: 0;
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
#sec1 {
  background: url(../img/anniversary/sec1_bg.jpg) no-repeat top center/100% 100%;
}
@media only screen and (min-width: 768px) {
  #sec1 {
    min-height: 677px;
    text-align: center;
  }
}
#sec1 .imgSlide {
  -webkit-animation-name: imgSlide;
  animation-name: imgSlide;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
#sec1 .sec1-content {
  background: url(../img/anniversary/sec1_bg_opacity.png) no-repeat top center;
  padding: 12vw 5%;
}
@media only screen and (min-width: 768px) {
  #sec1 .sec1-content {
    padding: 96px 0 92px;
    background-size: 100% 100%;
    margin-left: 54px;
    margin-right: 54px;
  }
}
#sec1 .sec1-content h2 {
  width: 80%;
  margin: 0 auto 6vw;
}
@media only screen and (min-width: 768px) {
  #sec1 .sec1-content h2 {
    width: auto;
    margin: 0px 0px 41px 0px;
  }
}

#sec2 {
  padding: 6vw 1% 19vw;
  position: relative;
}
#sec2::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 87%;
  height: 55vw;
  background: url(../img/about/sec1_bg.jpg);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #sec2::after {
    height: 373px;
    width: 60.2%;
    z-index: -4;
  }
}
#sec2::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67vw;
  width: 70%;
  z-index: -1;
  background: url(../img/about/sec1_bg.jpg);
}
@media only screen and (min-width: 768px) {
  #sec2::before {
    content: "";
    width: 60%;
    z-index: -2;
    height: 752px;
    bottom: -50px;
    background: url(../img/about/sec1_bg.jpg);
  }
}
@media only screen and (min-width: 768px) {
  #sec2 {
    padding: 117px 0px 160px 0px;
    margin-top: 0;
  }
}
#sec2 .wrap {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap {
    margin-bottom: 70px;
  }
}
#sec2 .wrap::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30vw;
  right: -18px;
  bottom: -61vw;
  background: url(../img/anniversary/sec2_deco.png) no-repeat bottom center/100% 100%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap::after {
    background: unset;
    content: url(../img/anniversary/sec2_deco.png);
    right: -33px;
    bottom: -605px;
    height: auto;
    width: auto;
  }
}
#sec2 .wrap .group1 h2 {
  margin-bottom: 4vw;
  color: #441e0a;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 h2 {
    margin-bottom: 19px;
    width: 578px;
    position: relative;
  }
}
#sec2 .wrap .group1 .sec2-img {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-img {
    position: absolute;
    margin-bottom: 0;
    right: -253px;
    top: -23px;
    z-index: -2;
  }
}
#sec2 .wrap .group1 .sec2-txt {
  margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec2 .wrap .group1 .sec2-txt {
    margin: 0px 0px 0px 0px;
    width: 419px;
  }
}
@media only screen and (min-width: 768px) {
  #sec2 .sec2-slider {
    margin-top: 40px;
  }
}
#sec2 .sec2-slider .slide-item img {
  height: 40vw;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #sec2 .sec2-slider .slide-item img {
    height: auto;
  }
}

.party-group1 h2 {
  position: relative;
  font-size: 6vw;
  align-items: flex-start;
  padding-right: 5vw;
  display: inline-flex;
  margin-bottom: 5vw;
  letter-spacing: 0.09em;
}
.party-group1 h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200%;
  height: 2px;
  right: 0;
  background: #91887e;
}
.party-group1 h2 i {
  width: 30px;
  margin-right: 5px;
}
.party-group1 .sec3-txt1 {
  font-size: 110%;
}
@media only screen and (min-width: 768px) {
  .party-group1 h2 {
    font-size: 30px;
    padding-right: 0;
    display: flex;
    padding-bottom: 13px;
    margin-bottom: 18px;
  }
  .party-group1 h2 i {
    width: 50px;
    margin-right: 10px;
  }
}

.party-list {
  position: relative;
  padding: 5vw 0 5vw 5%;
}
.party-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
}
@media only screen and (min-width: 768px) {
  .party-list {
    padding: 20px 0 18px 35px;
    letter-spacing: 1.5px;
  }
}

.party-price {
  position: relative;
  z-index: 1;
  background: #fff;
  color: #441e0a;
  padding: 8px 15px;
  line-height: 1.4;
  font-size: 16px;
  display: inline-block;
}
.party-price span {
  font-size: 133%;
}
@media only screen and (min-width: 768px) {
  .party-price {
    font-size: 18px;
    padding: 7px 0 12px 17px;
    line-height: 26px;
    letter-spacing: 3px;
  }
}

#sec3 {
  background: url("../img/anniversary/sec3_bg.jpg") repeat top center;
  color: #fff;
  position: relative;
  z-index: 0;
  padding: 13vw 0;
  margin-top: 12vw;
}
#sec3:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 62%;
  height: 67%;
  background: url("../img/anniversary/sec3_bg_item.jpg");
}
#sec3 .wrap {
  position: relative;
}
#sec3 .wrap::before {
  position: absolute;
  content: "※価格は全て税込みです。※コース写真はイメージです。";
  top: -19vw;
  left: 5%;
  font-size: 3vw;
  color: #000;
}
#sec3 .party-list {
  margin-top: 5vw;
}
#sec3 h2 {
  color: #ffe4c3;
}
#sec3 h2 i {
  top: 5px;
}
#sec3 .price {
  margin-top: 6vw;
  margin-bottom: 6vw;
  position: relative;
}
#sec3 .price:after {
  content: "";
  position: absolute;
  left: -5%;
  top: -1vw;
  bottom: -1vw;
  width: 45%;
  background: url(../img/anniversary/sec3_bg_item.jpg);
  z-index: -1;
}
#sec3 .price .title {
  position: relative;
  margin-bottom: 2vw;
}
#sec3 .price .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  right: 0;
  width: 200%;
  background: #b88e75;
}
#sec3 .price .title span {
  margin-right: 5%;
}
#sec3 .price .title .name {
  font-size: 5vw;
}
#sec3 .price .title .sub-name {
  font-size: 4vw;
}
#sec3 .price .title .price-number {
  font-size: 4.8vw;
}
#sec3 .price .group {
  justify-content: space-between;
}
#sec3 .sec3-txt1 {
  font-size: 7vw;
}
#sec3 .sec3-img {
  margin: 5vw 0;
}

@media only screen and (min-width: 768px) {
  #sec3 {
    padding: 63px 0 79px;
    margin-top: 0;
  }
  #sec3 .wrap::before {
    top: -109px;
    left: 3px;
    font-size: 16px;
  }
  #sec3 .price {
    margin: 89px 0 0 5px;
    position: relative;
  }
  #sec3 .price:after {
    left: auto;
    top: -33px;
    bottom: -19px;
    width: 400%;
    right: -90px;
  }
  #sec3 .price .title {
    margin-bottom: 28px;
  }
  #sec3 .price .title:after {
    bottom: -8px;
    right: -15px;
  }
  #sec3 .price .title span {
    margin-right: 40px;
  }
  #sec3 .price .title .name {
    font-size: 25px;
  }
  #sec3 .price .title .sub-name {
    font-size: 17px;
    margin-right: 10px;
  }
  #sec3 .price .title .price-number {
    font-size: 24px;
  }
  #sec3 .price .list {
    letter-spacing: 6px;
    font-size: 18px;
  }
  #sec3 .price .group {
    margin-right: 50px;
    font-size: 18px;
  }
  #sec3:before {
    left: 0;
    width: 62.3%;
    height: calc(100% - 398px);
  }
  #sec3 h2 {
    margin-left: -60px;
    font-size: 22px;
    margin-bottom: 5px;
  }
  #sec3 h2::before {
    margin-bottom: 7px;
    background: #a26c4d;
  }
  #sec3 .sec3-txt1 {
    font-size: 30px;
    margin-bottom: -6px;
  }
  #sec3 .party-group1 {
    float: left;
    margin-top: 35px;
    width: 480px;
  }
  #sec3 .sec3-img {
    margin: 45px -250px 0 0;
    float: right;
    width: 757px;
  }
  #sec3 .sec3-group2 {
    float: left;
    width: 450px;
    margin-top: 27px;
  }
  #sec3 .party-price {
    width: 376px;
  }
  #sec3 .party-list {
    float: right;
    width: 528px;
    margin-top: 23px;
    margin-right: -24px;
  }
  #sec3 .party-list::before {
    background: url(../img/anniversary/sec3_bg.jpg);
    z-index: -1;
  }
  #sec3 .party-txt {
    margin-left: 5px;
  }
}
.sec4-bg {
  background: url(../img/anniversary/sec4_bg.jpg);
}

#sec4 {
  z-index: 0;
  color: #fff;
  padding: 11vw 3.5%;
}
#sec4:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/anniversary/sec4_bg_item.jpg") repeat top left;
  right: 0;
  top: 0;
  width: 47%;
  height: calc(100% - 40vw);
}
#sec4 h2 {
  color: #fff;
  align-items: center;
}
#sec4 h2:before {
  right: auto;
  left: 0;
}
#sec4 .sec4-img {
  margin: 5vw 0;
}
#sec4 .party-list {
  margin-top: 5vw;
  padding: 5vw 5% 5vw 0;
  background: url("../img/anniversary/sec4_bg.jpg") no-repeat top right/75% 100%;
}
#sec4 .party-list:before {
  right: 0;
  left: auto;
}
#sec4 .sec3-txt1 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #sec4 {
    padding: 80px 0 83px;
  }
  #sec4:before {
    width: 150%;
    right: auto;
    left: calc(50% + 30px);
    height: calc(100% - 105px);
  }
  #sec4 h2 {
    padding-left: 11px;
  }
  #sec4 .party-group1 {
    float: right;
    width: 330px;
    margin-top: 39px;
  }
  #sec4 .sec3-txt1 {
    margin-left: 5px;
  }
  #sec4 .sec4-img {
    float: left;
    margin: 0 0 0 -250px;
    width: 895px;
  }
  #sec4 .sec4-group2 {
    float: right;
    width: 323px;
    margin-top: 25px;
  }
  #sec4 .party-price {
    width: 376px;
    margin-bottom: 26px;
  }
  #sec4 .party-txt {
    margin-left: 14px;
    line-height: 34px;
  }
  #sec4 .party-list {
    float: left;
    margin-top: 26px;
    width: 647px;
    padding: 20px 0 18px 57px;
  }
}
#sec5 {
  max-width: 1144px;
  margin: auto;
  width: 100%;
  z-index: 0;
}
#sec5:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/shared/bg3.jpg");
  top: -1vw;
  left: 50%;
  width: 100%;
  height: 250vw;
}
#sec5 h2 {
  color: #441e0a;
  font-size: 18.7vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;
  line-height: 0.7;
  padding-left: 2vw;
  margin-bottom: 5vw;
}
#sec5 h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 200%;
  background: #8f7462;
}
#sec5 .sec5-img {
  margin-bottom: 3vw;
}
#sec5 .sec5-ttl {
  font-size: 6.7vw;
  color: #342513;
  line-height: 1.5;
  margin-bottom: 4vw;
  letter-spacing: 0.05em;
}
#sec5 .sec5-ttl span {
  font-size: 75%;
}
#sec5 .sec5-1 {
  margin-bottom: 10vw;
}
#sec5 .sec5-2 {
  margin-bottom: 10vw;
}
#sec5 .sec5-2 h3 {
  text-align: center;
  font-size: 6vw;
  line-height: 1.7;
  color: #443524;
  margin-bottom: 5vw;
}
#sec5 .sec5-2 h3 i {
  display: block;
  width: 32px;
  margin: auto;
}
#sec5 .sec5-2 .sec5-ttl {
  text-align: center;
  border-bottom: 1px solid #8b7e68;
}
#sec5 .sec5-3 {
  margin-bottom: 10vw;
}
#sec5 .sec5-3 .sec5-ttl {
  text-align: center;
  border-bottom: 1px solid #8b7e68;
}
#sec5 .sec5-4 {
  background: url("../img/shared/bg3.jpg");
  box-sizing: border-box;
  color: #441e0a;
  line-height: 2.1;
  padding: 5vw 5% 4vw;
  margin-bottom: 13vw;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  #sec5 {
    margin-top: 108px;
  }
  #sec5:before {
    top: -40px;
    left: 50%;
    width: 100%;
    height: 943px;
  }
  #sec5 h2 {
    font-size: 140px;
    letter-spacing: 0.07em;
    padding-left: 0;
    position: absolute;
    top: 41px;
    right: -118px;
  }
  #sec5 h2:before {
    width: 1px;
    height: 410px;
    right: auto;
    left: 4px;
  }
  #sec5 .sec5-img {
    margin-bottom: 0;
  }
  #sec5 .sec5-ttl {
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 32px;
  }
  #sec5 .sec5-txt {
    text-align: center;
  }
  #sec5 .sec5-1 {
    margin-bottom: 109px;
  }
  #sec5 .sec5-1 .sec5-img {
    width: 71%;
    margin-left: -15.4%;
  }
  #sec5 .sec5-1 .sec5-info {
    width: 33.2%;
    margin-right: 6%;
    margin-top: 43px;
  }
  #sec5 .sec5-1 .sec5-txt {
    margin-left: 5px;
    text-align: left;
    letter-spacing: 1.5px;
    width: 370px;
  }
  #sec5 .sec5-2 {
    max-width: 1000px;
    margin: 0 auto 73px;
  }
  #sec5 .sec5-2 h3 {
    font-size: 30px;
    line-height: 64px;
    margin-bottom: 43px;
    margin-right: 33px;
    letter-spacing: 2px;
  }
  #sec5 .sec5-2 h3 i {
    width: 63px;
  }
  #sec5 .sec5-2 .sec5-ttl {
    float: left;
    width: 472px;
    padding-left: 90px;
    padding-bottom: 8px;
    margin: 50px 0 25px -87px;
    font-size: 30px;
    line-height: 35px;
  }
  #sec5 .sec5-2 .sec5-img {
    float: right;
    width: 649px;
    margin-right: -75px;
  }
  #sec5 .sec5-2 .sec5-txt {
    float: left;
    width: 380px;
  }
  #sec5 .sec5-3 {
    max-width: 1000px;
    margin: 0 auto 87px;
    margin: 0 66px 87px auto;
  }
  #sec5 .sec5-3 .sec5-ttl {
    float: right;
    width: 490px;
    padding: 0 90px 12px 34px;
    margin: 26px -70px 25px 0;
    font-size: 30px;
    line-height: 35px;
  }
  #sec5 .sec5-3 .sec5-img {
    float: left;
    width: 619px;
    margin-left: -71px;
  }
  #sec5 .sec5-3 .sec5-txt {
    float: right;
    width: 410px;
  }
  #sec5 .sec5-4 {
    padding: 25px 0;
    margin-bottom: 80px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
  }
}

#sec6 {
  border-top: 2px solid #b1a9a3;
  padding-top: 8vw;
  padding-bottom: 8vw;
}
@media only screen and (min-width: 768px) {
  #sec6 {
    padding-top: 56px;
    padding-bottom: 110px;
  }
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap {
    padding: 0 105px;
  }
}
#sec6 .wrap h2 {
  width: 80%;
  margin: 0 auto 6vw;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap h2 {
    margin-bottom: 41px;
  }
}
#sec6 .wrap .telhref {
  display: block;
  width: 90%;
  margin: 0 auto 10vw;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-tel {
    margin-bottom: 46px;
  }
}
#sec6 .wrap .sec6-txt {
  margin-bottom: 7vw;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-txt {
    margin: 0;
  }
}
#sec6 .wrap .sec6-txt dl {
  justify-content: space-between;
  margin-bottom: 3vw;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-txt dl {
    margin: 0px 0px 17px 0px;
    text-align: left;
  }
}
#sec6 .wrap .sec6-txt dt {
  width: 15%;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-txt dt {
    width: 128px;
    padding-left: 60px;
  }
}
#sec6 .wrap .sec6-txt dd {
  width: 80%;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-txt dd {
    width: calc(100% - 163px);
    letter-spacing: 2px;
  }
}
#sec6 .wrap .sec6-txt .border {
  border-top: 1px solid #8c7e6f;
  border-bottom: 1px solid #8c7e6f;
  padding: 2vw 0;
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .sec6-txt .border {
    padding: 17px 0;
    border-width: 2px;
  }
}
@media only screen and (min-width: 768px) {
  #sec6 .wrap .btn-link {
    margin-top: 47px;
    width: 313px;
  }
  #sec6 .wrap .btn-link:after {
    right: 16.9%;
  }
}/*# sourceMappingURL=anniversary.css.map */