#mail-form {
  background: url(../img/takeout/form_bg.jpg);
  margin: 0 3% 12vw;
  padding: 8vw 0;
}
#mail-form h2 {
  color: #342513;
  text-align: center;
  font-size: 4.8vw;
  margin-bottom: 6vw;
}
#mail-form .form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: #592514;
  height: 100%;
  width: 100%;
}
#mail-form .form .row {
  position: relative;
  margin-bottom: 0;
  border-top: 1px solid #9c8d7c;
  padding: 11px 0;
}
#mail-form .form .row .caption {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5vw;
}
#mail-form .form .row .caption .dis-flex {
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
}
#mail-form .form .row .input.form-value {
  align-items: center;
}
#mail-form .form .row p {
  max-width: 85%;
  font-size: 15px;
}
#mail-form .form .row p span {
  width: 100%;
}
#mail-form .form .row .dis-flex i {
  margin-right: 5px;
  margin-top: 6px;
  width: 25px;
}
#mail-form .form .row .mark-require {
  background-color: #a05127;
  color: #fff;
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
#mail-form .form .row input {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
}
#mail-form .form .row1 p i {
  width: 8%;
  margin-right: 2%;
  display: inline-block;
}
#mail-form .form .row.row9 .mark-require {
  width: 15%;
}
#mail-form .form .row.row9 .caption .dis-flex > p {
  width: 90%;
  max-width: unset;
}
#mail-form .form .row.row9 .form-value .form-parse-text {
  width: 70%;
}
#mail-form .form .row.row9 .form-value .form-parse-text select {
  padding: 8px;
  margin-bottom: 8px;
}
#mail-form .form .row.row9 .form-value input {
  width: 20%;
  margin: 0 10px 8px 11px;
  line-height: 1.1;
  padding-left: 14px;
}
#mail-form .form .row.row9 .form-value input::-moz-placeholder {
  font-size: 15px;
}
#mail-form .form .row.row9 .form-value input:-ms-input-placeholder {
  font-size: 15px;
}
#mail-form .form .row.row9 .form-value input::placeholder {
  font-size: 15px;
}
#mail-form .form .row.row9 .form-value > span {
  margin-bottom: 5px;
  color: #592514;
}
#mail-form .form .row.row10 select {
  padding: 8px;
  margin-bottom: 8px;
}
#mail-form .form .row.row10 .note {
  max-width: unset;
}
#mail-form .form .row.row11 input {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
#mail-form .form .row.row13 textarea {
  height: 300px;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
}
#mail-form .form .row.row14 input {
  width: auto;
  width: 20px;
  height: 20px;
}
#mail-form .form .row.row14 label > a > span {
  border-bottom: 1px solid #49443e;
}
#mail-form .form #submit button {
  width: 60%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #mail-form {
    padding: 58px 0 68px 0;
    margin: 0 auto 78px;
    max-width: 1212px;
  }
  #mail-form select, #mail-form label {
    font-size: 16px;
  }
  #mail-form h2 {
    font-size: 28px;
    margin-bottom: 54px;
  }
  #mail-form .form .row {
    font-size: 19px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
  }
  #mail-form .form .row::before {
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    border-width: 2px;
    box-sizing: border-box;
  }
  #mail-form .form .row .caption {
    width: 408px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0px;
    padding-left: 11px;
    position: relative;
    top: 3px;
  }
  #mail-form .form .row .caption .dis-flex i {
    margin-top: 8px;
    width: auto;
  }
  #mail-form .form .row .caption .dis-flex > p {
    font-size: 19px;
    line-height: 32px;
  }
  #mail-form .form .row .caption .dis-flex > p > small {
    font-size: 16px;
    line-height: 1;
  }
  #mail-form .form .row .form-value {
    margin-right: 48px;
  }
  #mail-form .form .row .form-value:last-child {
    margin-right: 0;
  }
  #mail-form .form .row .form-value .input6 {
    width: 501px;
    margin-left: 10px;
  }
  #mail-form .form .row p i {
    width: auto;
    margin: 0px 0px 0px 0px;
  }
  #mail-form .form .row .mark-require {
    font-size: 14px;
    padding: 0 0 0 0;
    width: 50px;
    height: 26px;
    justify-content: center;
    display: flex;
  }
  #mail-form .form .row input {
    padding: 0 0 0 0;
    width: 531px;
    height: 34px;
    padding: 0 0 3px 13px;
  }
  #mail-form .form .row input::-moz-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  #mail-form .form .row input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  #mail-form .form .row input::placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  #mail-form .form .row1::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mail-form .form .row.row9 {
    align-items: start;
  }
  #mail-form .form .row.row9 .mark-require {
    width: 50px;
  }
  #mail-form .form .row.row9 .caption {
    align-items: start;
  }
  #mail-form .form .row.row9 .form-value {
    margin-bottom: 6px;
  }
  #mail-form .form .row.row9 .form-value .form-parse-text {
    width: 426px;
    height: 34px;
  }
  #mail-form .form .row.row9 .form-value .form-parse-text select {
    width: 100%;
    height: 100%;
  }
  #mail-form .form .row.row9 .form-value input {
    width: 64px;
    margin-bottom: 0;
  }
  #mail-form .form .row.row9 .form-value > span {
    margin-bottom: 0;
  }
  #mail-form .form .row.row10 {
    align-items: start;
  }
  #mail-form .form .row.row10 .right {
    width: 578px;
  }
  #mail-form .form .row.row10 .right .choice-date, #mail-form .form .row.row10 .right .form-parse-text {
    width: 260px;
  }
  #mail-form .form .row.row10 .note {
    width: 531px;
    font-size: 16px;
  }
  #mail-form .form .row.row11 {
    justify-content: start;
  }
  #mail-form .form .row.row11 .right {
    margin-left: 10px;
  }
  #mail-form .form .row.row11 .right .form-value {
    display: inline-block;
    position: relative;
  }
  #mail-form .form .row.row11 .right .form-value:nth-child(1) {
    width: 134px;
  }
  #mail-form .form .row.row11 .right .form-value:nth-child(1):after {
    content: "";
    position: absolute;
    right: -23px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #342513;
  }
  #mail-form .form .row.row13 {
    align-items: start;
  }
  #mail-form .form .row.row13 textarea {
    width: 531px;
    height: 300px;
  }
  #mail-form .form .row.row13 .caption {
    align-items: start;
  }
  #mail-form .form .row.row14 {
    justify-content: center;
  }
  #mail-form .form .row.row14 input {
    margin-right: 9px;
  }
  #mail-form .form #submit {
    margin-top: 26px;
  }
  #mail-form .form #submit button {
    width: 315px;
    height: 62px;
  }
}/*# sourceMappingURL=mail-form.css.map */