
/* ==========================================================================
   css popup
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
  }
  
  /* Anti FOUC */
  
  .remodal,
  [data-remodal-id] {
    display: none;
  }
  
  /* Necessary styles of the overlay */
  
  .remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
  }
  
  /* Necessary styles of the wrapper */
  
  .remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }
  
  .remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
  }
  
  /* Fix iPad, iPhone glitches */
  
  .remodal-overlay,
  .remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Necessary styles of the modal dialog */
  
  .remodal {
    position: relative;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  .remodal {
    font-weight: 400;
  }
  
  .remodal-is-initialized {
    /* Disable Anti-FOUC */
    display: inline-block;
  }
  
  /* Default theme styles for the background */
  
  .remodal-bg.remodal-is-opening,
  .remodal-bg.remodal-is-opened {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  
  /* Default theme styles of the overlay */
  
  .remodal-overlay {
    background: url(../img/shared/bg3.jpg) repeat;
  }
  
  .remodal-overlay.remodal-is-opening,
  .remodal-overlay.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .remodal-overlay.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes;
  }
  
  .remodal-overlay.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes;
  }
  
  /* Default theme styles of the wrapper */
  
  .remodal-wrapper {
    padding: 8% 5% 3%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  /* Default theme styles of the modal dialog */
  
  .remodal {
    box-sizing: border-box;
    width: 100%;
    padding: 73px 0 77px;
    margin-bottom: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: none;
    max-width: 1300px !important;
  }
  #popup1 {
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    color: #211d18;
  }
  .popup{
      background: #fff;
      padding: 5%  5% 6% !important;
  }
  .remodal.remodal-is-opening,
  .remodal.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .remodal.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes;
  }
  
  .remodal.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes;
  }
  
  /* Vertical align of the modal dialog */
  
  .remodal,
  .remodal-wrapper:after {
    vertical-align: middle;
  }
  
  /* Close button */
  
  .remodal-close {
    position: absolute;
    top: -18px;
    right: 0;
    display: flex;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #000;
    border: 0;
    outline: 0;
    z-index: 9999;
    line-height: 1;
    background: none;
    align-items: center;
    justify-content: center;
  }
  
  .remodal-close img {
    width: 100%;
    height: auto;
  }
  
  .remodal-close:hover,
  .remodal-close:focus {
    color: #000;
  }
  
  .remodal-close:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/shared/close.png") no-repeat;
          background-size: 100%;
  }
  .remodal-close:hover {
    opacity: 0.8;
  }
  
  /* Dialog buttons */
  
  .remodal-confirm,
  .remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0;
  }
  
  .remodal-confirm {
    color: #fff;
    background: #81c784;
  }
  
  .remodal-confirm:hover,
  .remodal-confirm:focus {
    background: #66bb6a;
  }
  
  .remodal-cancel {
    color: #fff;
    background: #e57373;
  }
  
  .remodal-cancel:hover,
  .remodal-cancel:focus {
    background: #ef5350;
  }
  
  /* Remove inner padding and border in Firefox 4+ for the button tag. */
  
  .remodal-confirm::-moz-focus-inner,
  .remodal-cancel::-moz-focus-inner,
  .remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  #popup1 h2 {
    text-align: center;
    font-size: 36px;
    position: relative;
    line-height: 1.7;
    margin-bottom: 10px;
    color: #211d18;
  }
  
  #popup1 h2 span {
    display: inline-block;
    border-bottom: 1px dashed #999;
  }
  #popup1 .group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 900px;
    margin: 0 auto;
    flex-direction: row;
    flex-direction: column;
  }
  #popup1 .txt {
    margin: 10px auto 34px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
  }
  #popup1 .txt2 {
    margin: 20px auto 30px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
  }
  #popup1 .group .col {
    text-align: center;
    border-bottom: 4px double #fff;
    margin: 0 auto;
    padding-bottom: 12px;
  }
  #popup1 .list {
    margin: 0 auto;
    padding: 56px 71px;
    box-sizing: border-box;
    width: 800px;
    display: flex;
    background: #ebebeb;
  }
  #popup1 ul {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 290px;
    justify-content: center;
    width: 358px;
    max-width: 100%;
    margin: auto;
  }
  #popup1 ul:nth-child(2) {
    min-width: 408px;
    margin-top: 0;
  }
  #popup1 ul:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #999;
    border-right: 0;
    width: 51px;
    display: none;
  }
  
  #popup1 ul:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #999;
    border-left: 0;
    width: 51px;
    display: none;
  }
  
  #popup1 .flex li {
    margin: 0 16px;
    line-height: 30px;
  }
  
  #popup2 h2{
      font-size: 36px;
      text-align: center;
      margin-bottom: 60px;
  }
  #popup2 .info{
      margin-bottom: 76px;	
  }
  #popup2 .info dl{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      width: 800px;
      margin: 0 auto;
      border-bottom: 1px solid #b5b3b1;
  }
  #popup2 .info dl dt{
      background: #f5f4f4;
      width: 170px;
      padding: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
  }
  #popup2 .info dl dd{
      width: calc(100% - 170px);
      padding: 20px;
      text-align: left;
  }
  
  #popup2  .tel {
          padding: 10px 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 33px;
      width: 800px;
      justify-content: flex-start;
      align-self: flex-start;
      margin-top: 60px;
      border: 1px solid #836e57;
      margin: 0 auto;
    }
  #popup2  .tel dt {
      margin-bottom: -4px;
    }
  #popup2  .tel dt span {
      position: relative;
      font-size: 42px;
      margin-left: 17px;
      font-weight: 400;
    }
  #popup2  .tel dt span:before{
      width: 23px;
      height: 27px;
          content: "";
      background: url(../img/shared/icon_tel_black.png) no-repeat;
      width: 20px;
      height: 25px;
      background-size: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-left: -7%;
      margin-right: 2%;
      margin-top: -2px;
    }
  #popup2  .tel dd {
      font-size: 12px;
      letter-spacing: 0px;
    }
  #popup2  .tel dd > span {
      margin-bottom: -7px;
      display: block;
    }
  @media screen and (max-width: 767px) {
    .remodal {
      padding: 30px 0 30px;
    }
      #popup2{
          padding: 30px 0 !important;
      }
      #popup2 h2{
          font-size: 20px;
          margin-bottom: 30px;
      }
      #popup2 .info dl{
          width: 100%;
      }
      #popup2 .info dl dt{
          
      width: 100px;
      padding: 20px 0;
      }
      #popup2 .info dl dd{
              width: calc(100% - 100px);
      padding: 20px 0;
      word-break: break-word;
      text-align: left;
      padding: 10px;
      box-sizing: border-box;
      }
      #popup2 .tel{
          width: 100%;
      }
      #popup2 .tel dt span{
          font-size: 30px;
      }
      #popup2 .tel dd{
          font-size: 10px;
      }
      #popup2 .info{
          margin-bottom: 30px;
      }
    #popup1 {
      padding: 12% 0;
      margin: 0 -7%;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
        padding: 8% 0 !important;
    }
    #popup1 .group {
      width: 100%;
      flex-direction: column;
    }
    #popup1 h2 {
      font-size: 6vw;
      margin: 0 -3% 14px;
      line-height: 1.5;
    }
    #popup1 h2 span {
      display: block;
    }
    #popup1 .group .col {
      width: auto;
    }
    #popup1 ul {
      margin: 0;
      padding: 0;
    }
    #popup1 .flex li {
      font-size: 13px;
      letter-spacing: 0.5px;
      width: 92%;
      margin: 0 10px !important;
      line-height: 26px;
      word-break: break-word;
    }
    #popup1 .txt2 {
      font-size: 12px;
      line-height: 25px;
    }
    #popup1 .txt {
      text-align: center;
      font-size: 12px;
      line-height: 26px;
      margin-bottom: 17px;
    }
    #popup1 .list {
      width: 100%;
      padding: 30px 16px;
      flex-direction: column;
    }
    .remodal-close {
      right: 0;
      width: 43px;
      height: 45px;
      top: -20px;
    }
    .remodal-close:before {
      background-size: 100%;
    }
    #popup1 .txt + .txt {
      margin-top: 20px;
    }
  }
  
  /* Keyframes
  ========================================================================== */
  
  @-webkit-keyframes remodal-opening-keyframes {
    from {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  
  @keyframes remodal-opening-keyframes {
    from {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  
  @-webkit-keyframes remodal-closing-keyframes {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      opacity: 0;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  
  @keyframes remodal-closing-keyframes {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      opacity: 0;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  
  @-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes remodal-overlay-opening-keyframes {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes remodal-overlay-closing-keyframes {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* Media queries
  ========================================================================== */
  
  @media only screen and (min-width: 999px) {
    .remodal {
      max-width: 100%;
    }
  }
  
  /* IE8
  ========================================================================== */
  
  .lt-ie9 .remodal-overlay {
    background: #2b2e38;
  }
  
  .lt-ie9 .remodal {
    width: 700px;
  }
  
  /* ==========================================================================
  end css popup
  ========================================================================== */